version: "3"
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk21
    container_name: jenkins-server
    user: root
    ports:
      - "9090:8080"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
