spring:
  datasource:
    url: jdbc:mysql://db:3306/beforefinaldb?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&useSSL=false
    username: devuser
    password: devpass

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        show_sql: true