name: Frontend CICD Pipeline
on:
  push:
    tags:
      - "v-front-*"

jobs:
  frontend-build-and-push:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWORD}}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{secrets.DOCKER_USERNAME}}/quiz-front
          tags: |
           type=ref,event=branch
           type=ref,event=tag
           type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{steps.meta.outputs.labels}}

  deploy:
    runs-on: ubuntu-22.04
    needs: frontend-build-and-push
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST}}
          username: ${{ secrets.USERNAME}}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/${{ secrets.USERNAME }}/app

            docker-compose pull

            docker-compose up -d

            docker image prune -f
